@page "/"

<PageTitle>Blazor 学习笔记</PageTitle>

<h1>Blazor 学习笔记</h1>
<p>https://fonts.google.com/icons</p>
<p>https://blazor.radzen.com/icon?theme=standard</p>
<p>https://learn.microsoft.com/en-us/aspnet/core/blazor/components/rendering?view=aspnetcore-8.0d</p>
